@model WebApplicationRestApiPizza_1.Models.Pizza

@{
    ViewBag.Title = "Edition d'une pizza";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.id</h3>

<h3>@ViewBag.pizza.DesignPizz</h3>
<h3>@ViewBag.pizza.TarifPizz</h3>
<h3>@ViewBag.pizza.NroPizz</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pizza</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NroPizz, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NroPizz, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NroPizz, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesignPizz, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DesignPizz, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DesignPizz, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TarifPizz, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TarifPizz, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TarifPizz, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modifier" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Pizzas")
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail ">
            <img src='~/Images/@(ViewBag.pizza.NroPizz + ".jpg")' class="thumbnail view zoom" width="300" height="300" />
            <div class="caption">
                <p>Lorem ipsum...</p>
            </div>
            <div class='encart-description'>
                <p class='title'>@ViewBag.pizza.DesignPizz </p>
                <p class='description'> @ViewBag.pizza.TarifPizz</p>
            </div>
        </div>
    </div>
</div>